docopt==0.6.2
flake8==7.3.0
greenlet==3.3.2
librt==0.8.1
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
pathspec==1.0.4
playwright==1.58.0
pycodestyle==2.14.0
pyee==13.0.1
pyflakes==3.4.0
python-dotenv==1.2.1
types-docopt==0.6.11.20241107
typing_extensions==4.15.0
